@model Book

<h2>Book Details</h2>

<div>
    <h4>Title</h4>
    <div>@Model.Title</div>
</div>
<div>
    <h4>Author</h4>
    <div>@Model.Author</div>
</div>
<div>
    <h4>Published Year</h4>
    <div>@Model.PublishedYear</div>
</div>
<div>
    <h4>User Id</h4>
    <div>@Model.UserId</div>
</div>
<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
<a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
